
<div class="scrolling-wrapper">
    <h6>PP Excellencexxvvvxx</h6>
  <div class="card " *ngFor="let i of [1,2,3,4,5,6]">
        <div class="card-inner" >
        <chart [options]="options[i]"></chart>  
        
        
        </div>
        <div class="card-content">
      {{kpi[i]}}
       </div>
      </div>
  
</div>

 <div class="scrolling-wrapper">
    <h6>Service Excellence</h6>
  <div class="card " *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]">
        <div class="card-image" >
          <img src="assets/sample-1.jpg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
      I am a very simple card I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
       </div>
      </div>
  
</div>
     <div class="scrolling-wrapper">
    <h6>Hr Excellence</h6>
  <div class="card " *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]">
        <div class="card-image" >
          <img src="assets/sample-1.jpg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
      I am a very simple card I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
       </div>
      </div>
  
</div>
     <div class="scrolling-wrapper">
    <h6>People Excellence</h6>
  <div class="card " *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]">
        <div class="card-image" >
          <img src="assets/sample-1.jpg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
      I am a very simple card I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
       </div>
      </div>
  
</div>
     <div class="scrolling-wrapper">
    <h6>Admin Excellence</h6>
  <div class="card " *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]">
        <div class="card-image" >
          <img src="assets/sample-1.jpg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
      I am a very simple card I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
       </div>
      </div>
  
</div>